<html>
<head>
    <title>Flapper News</title>
    <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/posts/postFactory.js"></script>
    <script src="/javascripts/posts/postController.js"></script>
    <script src="/javascripts/account/authController.js"></script>
    <script src="/javascripts/account/authFactory.js"></script>
    <script src="/javascripts/main/navController.js"></script>
    <script src="/javascripts/main/mainController.js"></script>
    <script src="/javascripts/routes.js"></script>

    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="flapperNews">
<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
    </div>
</div>

</body>
</html>